/**
 * ----------------------------------------------------------------------------
 * Frontend CSS
 * ----------------------------------------------------------------------------
 */

.wp-block-wp-dispensary-flowers-block ul,
.wp-block-wp-dispensary-flowers-block li {
	list-style: none;
	margin: 0; padding: 0;
}
.wp-block-wp-dispensary-flowers-block {
	display: flex;
	align-items: stretch;
	background-color: #ffffff;
	margin: 12px 0px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}
.wp-block-wp-dispensary-flowers-block .wpd-blocksimage {
	display: flex;
	align-items: center;
	background-size: cover;
	background-position: center;
	width: 60%;
}
.wp-block-wp-dispensary-flowers-block .wpd-blocksimage img {
	opacity: 0;
	margin: -9999px;
}
.wp-block-wp-dispensary-flowers-block .wpd-blocks-content {
	width: 100%;
	align-self: center;
	padding: 18px;
	box-sizing: border-box;
}
.wp-block-wp-dispensary-flowers-block .wpd-blocks-content h3 {
	margin: 0px;
	padding: 0px;
}
.wp-block-wp-dispensary-flowers-block .wpd-blocks-content h5 {
	color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	margin: 0px;
	padding: 8px 0px;
}
.wp-block-wp-dispensary-flowers-block .wpd-blocks-content p {
	line-height: 1.6;
	margin: 0px;
	padding: 8px 0px;
}
.wp-block-wp-dispensary-flowers-block .wpd-blocks-flowers {
	padding-top: 12px;
}
.wp-block-wp-dispensary-flowers-block .wpd-blocks-flowers:empty {
	display: none;
}
.wp-block-wp-dispensary-flowers-block .wpd-blocks-flowers .social-link {
	color: rgba(0, 0, 0, 0.24);
	padding: 6px 12px;
	font-size: 18px;
	text-decoration: none;
	border-left: 1px solid rgba(0, 0, 0, 0.12);
	border-bottom: none;
	box-shadow: none;
}
.wp-block-wp-dispensary-flowers-block .wpd-blocks-flowers .social-link:hover {
	color: rgba(0, 0, 0, 1);
}
.wp-block-wp-dispensary-flowers-block .wpd-blocks-flowers .social-link:first-child {
	border: none;
}
